# Advent of Code 2023 - Day 1

## Part 1

In [25]:
import pandas as pd

In [26]:
# load data
data = pd.read_csv("input/input_1.csv", header=None)
data.columns = ['raw']

In [27]:
# get column with numbers only
data['num'] = data['raw'].str.replace('[^0-9]', '', regex=True)

# save first and last digit (when only one digit, it gets save twice)
data['res'] = data['num'].str[0] + data['num'].str[-1]

print(data.sample(10))

                                  raw     num res
250             7eight43mq354oneightv  743354  74
679                        2nineeight       2  22
271  two2one8seventwo3hpdbstnhvkthree     283  23
478                        2hxdxxstwo       2  22
395               2twooneggtzrfqcsqqq       2  22
146              dgndjkhcplztmkjrdn53      53  53
597                           hgfx464     464  44
29      flkdknzdxtgdxcfqkn4mbh4tqvgdq      44  44
165              kmbhc8threessdnfmsix       8  88
397     pspkmpxzmn9cndplpjskthree7klc      97  97

In [28]:
# SOLUTION 1
sum_num = data['res'].astype(int).sum()

print(f"The solution of puzzle 1 is {sum_num}!")

The solution is 55002!

## Part 2

In [29]:
data_2 = data[['raw']].copy()

In [30]:
number_mapping = {
    'oneight': '18',
    'twone': '21',
    'threeight': '38',
    'nineight': '98',
    'fiveight': '58',
    'sevenine': '79',
    'eighthree': '83',
    'eightwo': '82',
    'one': '1',
    'two': '2',
    'three': '3',
    'four': '4',
    'five': '5',
    'six': '6',
    'seven': '7',
    'eight': '8',
    'nine': '9'
}

In [33]:
# replace name of numbers with digit
data_2['words_repl'] = data_2['raw'].replace(number_mapping, regex=True)

# get column with numbers only
data_2['num'] = data_2['words_repl'].str.replace('[^0-9]', '', regex=True)

# save first and last digit (when only one digit, it gets save twice)
data_2['res'] = data_2['num'].str[0] + data_2['num'].str[-1]

data_2.sample(10)

,raw,words_repl,num,res
734,94fourldjgvg7drlcxqtnv2,944ldjgvg7drlcxqtnv2,94472,92
614,4onepfqshseven4seven,41pfqsh747,41747,47
922,2gnglzbllksix6fgfjrrltrhrspl5seven,2gnglzbllk66fgfjrrltrhrspl57,26657,27
780,vfq4,vfq4,4,44
108,9sevenbprbbnzqjbhfpcgnxjmflxgkvqgvc,97bprbbnzqjbhfpcgnxjmflxgkvqgvc,97,97
45,fnkzsdjh3kqxpdvmkmvqqjcjn,fnkzsdjh3kqxpdvmkmvqqjcjn,3,33
430,mkvsblkv76,mkvsblkv76,76,76
436,zndhqdmkntwo6,zndhqdmkn26,26,26
342,2eightj,28j,28,28
878,cpszsjthree4,cpszsj34,34,34

In [35]:
# SOLUTION 2
sum_num_2 = data_2['res'].astype(int).sum()

print(f"The solution of puzzle 2 is {sum_num_2}!")

The solution of puzzle 2 is 55093!